<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Find a Car</title>
</head>
    <body>
        <div class='container'>
            <h1>New Post:</h1>
            {% if new_car is not empty %}
                {% for car in new_car %}
                    <li>{{ car.getMake }}</li>
                    <li>{{ car.getMiles }}</li>
                    <li>{{ car.getPrice }}</li>
                    <li>{{ car.getPicture }}</li>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
