<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Find a Car</title>
</head>
<body>
    <div class='container'>
        <h1>Find a Car!</h1>
        <form action='/view_car' method="post">
            <div class='form-group'>
                <label for='price'>Enter Maximum Price:</label>
                <input id='price' name='price' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                <label for='miles'>Enter Maximum Miles:</label>
                <input id='miles' name='miles' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn btn-success'>Search</button>
        </form>
        <br>
        <h1>Post a new Ad!</h1>
        <form action='/postCar' method="post">
            <div class='form-group'>
                <label for='make'>Enter a Make:</label>
                <input id='newPrice' name='newMake' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                <label for='miles'>Enter the Miles:</label>
                <input id='newMiles' name='newMiles' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                <label for='price'>Enter a Price:</label>
                <input id='newPrice' name='newPrice' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                <label for='picture'>Enter the Picture:</label>
                <input id='newMiles' name='newPicture' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn btn-default'>Post</button>
        </form>



    </div>
</body>
</html>
